* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-color: #e7b27b;
}

.odin-recipes {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 100px auto;
}

.home-links-title,
.home-title {
  font-weight: 900;
  font-size: 64px;
  text-align: center;
  border: rgb(147, 89, 13) solid 6px;
  padding: 12px;
}

.secondaries-titles {
  font-weight: 900;
  font-size: 32px;
}

.home-links {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

a {
  font-size: 32px;
  color: #4a3308;
}

.recipe-img {
  height: 300px;
  width: 600px;
}

p {
  font-size: 24px;
  text-align: center;
}

.list {
  font-size: 16px;
}
